@import "rsuite/dist/rsuite.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  position: relative;
}
a {
  color: #282c34;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #282c34;
  text-decoration: none;
}
/* NavBara css start */
.nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.359);
  justify-content: space-between;
  padding: 13px 180px 0 0;
  height: 70px;
  z-index: 23;
  position: relative;
}
nav > div {
  background-color: transparent;
}
nav > div > i {
  font-size: 30px;
  color: white;
  padding: 0 10px;
  margin: 0 5px;
}
nav .logo {
  height: 100%;
  padding-bottom: 10px;
}
nav .logo img {
  width: 100%;
  height: 100%;
}
nav .useraccess {
  display: flex;
  align-items: center;
}
nav .useraccess a {
  color: white;
  padding: 0 10px;
  margin: 0 5px;
  font-size: 25px;
}
.sidenav {
  z-index: 5;
  position: relative;
}
.cartcontainer {
  position: absolute;
  background-color: #333333;
  right: 0;
  top: 0;
  width: 450px;
  height: 100vh;
}
.cartcontainer div:nth-child(1){
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
  padding: 11px 23px;
  font-size: 28px;
}
.cartcontainer div:nth-child(1) i {
  cursor: pointer;
}

/* Home Content */
.container {
  text-align: center;
  position: relative;
  z-index: 0;
  top: -71px;
}

.content {
  position: absolute;
  top: 50%; /* Adjusted to center vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgb(193, 193, 193);
}
.content h1 {
  padding-bottom: 20px;
}
.container .content a {
  margin: 10px 18px;
  border: 1px solid whitesmoke;
  padding: 13px 25px;
  color: whitesmoke;
  cursor: pointer;
  text-decoration: none;
}

img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.productcontainer {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}
.productcontainer a > button {
  background-color: #ab9a6f;
  color: white;
  font-weight: 600;
  padding: 9px 15px;
  letter-spacing: 4px;
  margin: 10px 0;
}
.productcontainer a > button:hover {
  background: linear-gradient(45deg, #ab9a6f, #d8cdab, #ab9a6f);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.cardcontainer {
  display: flex;
  justify-content: center;
}
.cardcontainer div {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
.cardcontainer div a {
  margin: 10px 10px;
}
.cardcontainer div .card {
  width: 250px;
  text-align: center;
  height: auto;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
}
.cardcontainer div .card .img {
  width: 100%;
  position: relative;
}
.cardcontainer div .card .img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
.cardcontainer div .card .img p {
  position: absolute;
  top: 27px;
  padding: 2px 10px;
  background-color: #1a9bac;
  color: white;
  right: 20px;
  text-transform: capitalize;
}
.cardcontainer div .card .details {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cardcontainer div .card .details p:nth-child(2) {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  margin-top: 5px;
  opacity: 0.65;
  color: #7a7a7a;
}
.cardcontainer div .card .details p:nth-child(3) {
  letter-spacing: 2px;
  color: #af9e75;
  font-size: calc(18px * 0.75);
}
.cardcontainer div .card .details p:nth-child(3) .discount {
  text-decoration: line-through;
}
.cardcontainer div .card .details p:nth-child(3) .save {
  color: #b35555;
}
.video {
  position: relative;
  padding: 50px 0;
}

.video div {
  position: absolute;
  bottom: 150px;
  right: 100px;
  z-index: 2;
}
.video div h1 {
  text-transform: uppercase;
}
.video div a p {
  padding: 12px 18px;
  border: 1px solid #282c34;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 600;
}

.featuredaccessories {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.featuredaccessories > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}
.image-container {
  position: relative;
  display: inline-block;
  margin: 0 13px;
  cursor: pointer;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.2
  ); /* Adjust the alpha (last value) to control the darkness */
  opacity: 0;
  transition: opacity 0.6s ease;
}

.image-container:hover::before {
  opacity: 1;
}

.image-container > div {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  background: #fff;
  border: 1px solid #fff;
  padding: 8px 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.storycontaine {
  width: 100%;
  position: relative;
}
.storycontaine .storydetais {
  top: 60px;
  left: 60px;
  width: 450px;
  padding: 17px;
  background-color: #fff;
  position: absolute;
}
.storycontaine .storydetais div {
  border: 1px solid black;
  padding: 27px;
}
.storycontaine .storydetais div h3 {
  color: black;
  font-size: calc(60px * 0.45);
  padding: 13px 0;
}
.storycontaine .storydetais div p {
  font-size: calc(30px * 0.45);
  font-weight: 600;
  letter-spacing: 1.2px;
  padding: 13px 0;
}
.storycontaine .storydetais a > button {
  background-color: #ab9a6f;
  color: white;
  font-weight: 600;
  padding: 9px 15px;
  letter-spacing: 4px;
  margin: 10px 0;
}
.storycontaine .storydetais a > button:hover {
  background: linear-gradient(45deg, #ab9a6f, #d8cdab, #ab9a6f);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Footer */
footer {
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
footer > div {
  width: 80%;
}
footer > div > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer > div > div > div {
  display: block;
  width: 300px;
  margin: 12px 5px;
}
footer > div > div h3 {
  color: white;
  font-weight: 300;
  letter-spacing: 1.2px;
  padding: 10px 0;
}
footer > div > div p {
  color: white;
  padding: 5px 0;
}
footer .footerlogo {
  width: 130px;
  height: 60px;
}
footer .footerlogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer > div > div div div {
  position: relative;
  width: 100%;
}
footer > div > div div div input {
  background-color: #000;
  border: none;
  border-bottom: 3px solid #fff;
  width: 100%;
  padding: 14px 8px;
  color: #fff;
}
footer > div > div div > div .mail {
  position: absolute;
  top: 0;
  color: #fff;
  right: -89%;
  font-size: 35px;
}
footer > div > div div .social i {
  color: #fff;
  font-size: 35px;
  padding: 0 10px;
  margin: 10px 10px;
}

/* product page */
.productbody {
  background-image: url("https://www.purecycles.com/cdn/shop/collections/Nov27-283_WEB_2400x.jpg?v=1512502792");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  inset: 0;
  top: -80px;
}
.productbody .heading {
  text-align: center;
  width: 100%;
  height: 670px;
  background: rgba(0, 0, 0, 0.255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 800;
}
.productbody .productcontainerpage {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.productbody .productcontainerpage > div {
  width: 85%;
}
.productbody .productcontainerpage > div h1 {
  padding: 8px 0;
}
.productbody .productcontainerpage > div .productcontainerdata > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.productbody .productcontainerpage > div .productcontainerdata > div .filter {
  padding: 10px 40px;
  border: none;
  font-size: 22px;
  border: 1px solid #282c34;
}

.productcardcontainer {
  display: flex;
  justify-content: center;
}
.productcardcontainer div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
.productcardcontainer div a {
  margin: 10px 10px;
}
.productcardcontainer div .productcard {
  width: 250px;
  text-align: center;
  height: auto;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
}
.productcardcontainer div .productcard .productimg {
  width: 100%;
  position: relative;
}
.productcardcontainer div .productcard .productimg img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
.productcardcontainer div .productcard .productimg p {
  position: absolute;
  top: 27px;
  padding: 2px 10px;
  background-color: #1a9bac;
  color: white;
  right: 20px;
  text-transform: capitalize;
}
.productcardcontainer div .productcard .productdetails {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.productcardcontainer div .productcard .productdetails p:nth-child(2) {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  margin-top: 5px;
  opacity: 0.65;
  color: #7a7a7a;
}
.productcardcontainer div .productcard .productdetails p:nth-child(3) {
  letter-spacing: 2px;
  color: #af9e75;
  font-size: calc(18px * 0.75);
}
.productcardcontainer div .productcard .productdetails p:nth-child(3) .discount {
  text-decoration: line-through;
}
.productcardcontainer div .productcard .productdetails p:nth-child(3) .save {
  color: #b35555;
}






/* Product in view */


.viewedproductbody {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.viewedproductbody> div .maintopdiv {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}
.viewedproductbody> div .topdiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  
}
.swiperdiv {
  width: 700px;
  position: sticky;
  top: 20px;
}
.mySwiper .mySwiperimgdiv {
  width: 100%;
}
.mySwiper img {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Add these styles to your CSS */

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination-thumbnail {
  cursor: pointer;
  margin: 0 5px;
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  overflow: hidden;
  border: 2px solid #ddd; /* Add a border for visibility */
  border-radius: 5px;
}

.pagination-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.viewedproductbody> div .topdetailsdata {
  width: 100%;
  padding-left: 40px;
}
.viewedproductbody> div .topdetailsdata > p {
  letter-spacing: 1.2px;
}
.viewedproductbody> div .topdetailsdata>div h1{
padding: 8px 0;
}
.viewedproductbody> div .topdetailsdata>div .price{
color: #B69A6F;
font-size: 20px;
letter-spacing: 1.3px;
}
.viewedproductbody> div .topdetailsdata>div .size> p,
.viewedproductbody> div .topdetailsdata>div .color> p,
.viewedproductbody> div .topdetailsdata>div .speed> p{
letter-spacing: 3px;
font-weight: 500;
font-size: 26px;
padding: 7px 0;
}
.viewedproductbody> div .topdetailsdata>div .size> div p,
.viewedproductbody> div .topdetailsdata>div .speed> div p{
letter-spacing: 1.2px;
font-size: 26px;
padding: 5px 0;
border: 2px solid black;
width: 130px;
text-align: center;
margin: 7px 0;
}
.viewedproductbody> div .topdetailsdata>div .color> div{
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewedproductbody> div .topdetailsdata>div .color> div p{
  background-color: green;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.viewedproductbody> div .topdetailsdata>div .price{
color: #B69A6F;
font-size: 23px;
letter-spacing: 1.3px;
}
.viewedproductbody> div .topdetailsdata>div .instock{
display: flex;
align-items: center;
margin: 10px 0;
font-size: 16px;
}
.viewedproductbody> div .topdetailsdata>div .addtocart button{
width: 100%;
padding: 15px 0;
background-color: transparent;
border: 1px solid black;
margin: 5px 0;
font-size: 17px;
font-weight: bold;
}
.viewedproductbody> div .topdetailsdata>div .buyit {
  text-align: center;
  padding: 5px 0;
  font-size: 21px;
  font-weight: bold;
}
.viewedproductbody> div .topdetailsdata>div .buyit button{
width: 100%;
padding: 15px 0;
background-color: #5A31F4;
color: #fff;
margin: 8px 0;
font-size: 17px;
font-weight: bold;
}
.glowing-dot {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #3c8e3f; /* Green dot color */
  border-radius: 50%;
  animation: glowing-shadow 2s infinite;
  margin-right: 13px;
}

@keyframes glowing-shadow {
  0% {
    box-shadow: 0 0 10px rgba(67, 151, 69, 0.7); /* Initial shadow */
  }
  50% {
    box-shadow: 0 0 20px rgba(33, 60, 34, 0.937); /* Increased shadow */
  }
  100% {
    box-shadow: 0 0 10px rgba(58, 134, 59, 0.7); /* Back to initial shadow */
  }
}





/* Login page */
.loginpagebody {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}
.loginpagebody> div {
  width: 500px;
  background-color: #fff;
  border-radius: 13px;
  padding: 26px 24px;
}
.loginimg {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginimg img {
  width: 100px;
  height: 60px;
  object-fit: contain;
  filter: drop-shadow(0 0 4px #000);
}
.loginpagebody> div h3 {
  font-size: 30px;
  margin: 12px 0;
}
.loginpagebody> div p {
  margin: 8px 0;
}
.loginpagebody> div .email {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.loginpagebody> div .email p {
  color: black;
  font-size: 19px;
}
.loginpagebody> div .email div {
  text-align: center;
}
.loginpagebody> div .email div input {
  height: 50px;
  border-radius: 6px;
  border: 1px solid black;
  margin: 10px 0;
}
.loginpagebody> div .email div button {
  width: 100%;
  padding: 11px 0;
  font-weight: bold;
  margin-bottom: 11px;
}
.loginpagebody> div a {
  color: rgb(111, 111, 240);
  font-size: 16px;
  padding: 13px 0;
}
